# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/

# Virtual env
.venv/
venv/

# Artefactos del PS
ps_logs.txt
solicitudes.bin
*.csv

# Env (secretos)
.env
!.env.example

# OS/IDE
.vscode/
.idea/
.DS_Store
Thumbs.db
