# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/

# Virtual env
.venv/
venv/

# Artefactos del PS
ps_logs.txt
solicitudes.bin
solicitudes_ps*.bin
*.csv

# Logs y reportes generados
logs/
multi_ps_logs/
experimentos/

# Env (secretos)
.env
!.env.example

# OS/IDE
.vscode/
.idea/
.DS_Store
Thumbs.db
